body {
    padding: 17px;
    font-family: 'Source Sans Pro',
    sans-serif;
}

.button {
  padding-left: 15px;
}

h1 {
    font-family: 'Playfair Display',
    serif;
}

/* h6 {
    padding: 20px;
} */

.desc {
    font-size: 11px;
}

.btn {
    background-color:rgb(94, 193, 162);
}

a {
    color: palevioletred;
}

#home {
    color: white;
}

.col-sm-8 {
    top: 110px;
}

#quote {
    padding: 50px 100px 100px 170px;
}

footer {
    padding-top: 50px;
}

#footer {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgb(94, 193, 162);
    /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#footer:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
