:root {
	--main-cooper-color: #660000;
	--main-huerta-color: #5ec1a2;
  --second-huerta-color: #db7093;
  --main-hurston-color: #3b5691;
  --main-rudolph-color: #0000ff;
  --main-truth-color: #003300;
  --main-walker-color: #bba235;
	--main-body-padding: 20px;
  --main-font-family: "Raleway", sans-serif;
  --second-font-family: 'Source Sans Pro',
  sans-serif;
  --third-font-family: 'Playfair Display',
  serif;
  --button: padding-left 15px;
}



 body {
    font-family: "Raleway", sans-serif;
    padding-top: 20px;
 }


/* SPOTLIGHT NAVIGATION */

/* li {
  padding: .2em;
} */

/* a {
        cursor: url("surf-cursor.jpg"), url("surf-cursor.cur"), default;
} */

 a,
 li {
    text-decoration: none;
 }

 /* HEADER PICTURES */
  header.pictures {
    background-color: #666;
    padding: 140px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  header.pictures > img {
    width: 50px;
    height: 50px;
    display: inline;
    border-radius: 30%;
  }

   /* #image1 {
     position:relative;
     right: 0px;
     top: 13px;
   }

   #image2 {
     position:relative;
     right: 100px;
     top: 40px;
   } */

/* SECOND HEADER    */
 header {
   text-align: center;
   padding: 30px;
 }

 /* header p {
   text-align: center;
   margin: 0 50px 0 50px;
 } */



/* main.html navbar center */
 .btn-toolbar {
    text-align: center;
    margin-bottom: 60px;
 }


/* .shadow p-3 mb-5 bg-white rounded top {
  padding-top: 30px;
} */

 #foot-cont {
    padding: 15px;
 }

.spotlight {
    background-color: grey;
}

#footer {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: grey;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#footer:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}
