
body {
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}

#walker-name {
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.col-sm-8 {
    top: 70px;
}

#walker-quote {
    color: rgb(187, 162, 53);
    font-size: 20px;
    text-align: center;
} 

#walker-title {
    font-size: 20px;
}


.wonderful {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: rgb(187, 162, 53);
}

.btn {
    background-color : rgb(187, 162, 53);
}

#home {
    color: white;
}

footer {
    padding-top: 50px;
}

#footer {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(187, 162, 53);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#footer:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}