<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://fonts.googleapis.com/css?family=News+Cycle|Playfair+Display|Rubik" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville|Merriweather|Merriweather+Sans|Source+Sans+Pro"
  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto|Titillium+Web|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <script src="main.js"></script>
  <title></title>
</head>
<body> -->
  


<!DOCTYPE html>
<html>
<a id="home" href="javascript:gohome();">Home</a>
<head>
  <title>Herstorical Women</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="h.css">
<script src="../script.js"></script>
</head>

<body class="w3-light-grey">
  <div class="w3-content" style="max-width:1400px">
    <div class="container">
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
          <button class="btn btn-default">
            <a href="../coming.html">A</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">B</a>
          </button>
          <button class="btn btn-default">
            <a href="../cpage/c.html">C</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">D</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">E</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">F</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">G</a>
          </button>
          <button class="btn btn-default">
            <a href="../hpage/h.html">H</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">I</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">J</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">K</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">L</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">M</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">N</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">O</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">P</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">Q</a>
          </button>
          <button class="btn btn-default">
            <a href="../rpage/r.html">R</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">S</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">T</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">U</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">V</a>
          </button>
          <button class="btn btn-default">
            <a href="../wpage/w.html">W</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">X</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">Y</a>
          </button>
          <button class="btn btn-default">
            <a href="../coming.html">Z</a>
          </button>
        </div>
      </div>
    </div>

    <header class="w3-container w3-center w3-padding-32">
      <h1>
        <b>Herstorical Women</b>
      </h1>
    </header>
        <div class="w3-card-4 w3-margin w3-white">
          <img src="../Huerta/huerta1.jpeg" alt="Dolores Huerta with bullhorn" style="width:100%">
          <div class="w3-container">
            <h3>
              <b>Dolores Huerta</b>
            </h3>
            <h5>Born:
              <span class="w3-opacity">April 10, 1930 - Her birthday has been designated as Dolores Huerta Day in the great state of California</span>
            </h5>
          </div>

          <div class="w3-container">
            <h3>Awards & Honors</h3>
            <p>The Ellis Island Medal of Freedom Award, Eleanor Roosevelt Award, Puffin/Nation Prize for Creative Citizenship,
              and she was inducted into the National Women’s Hall of Fame.</p>
            <div class="w3-row">
              <div class="w3-col m8 s12">
                <p>
                  <button class="w3-button w3-padding-large w3-white w3-border">
                    <a href="../Huerta/huerta.html">
                      <b>READ MORE »</b>
                    </a>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        

<!-- <div class="w3-card-4 w3-margin w3-white">
  <img src="../Huerta/huerta1.jpeg" alt="Dolores Huerta with bullhorn" style="width:100%">
  <div class="w3-container">
    <h3>
      <b>Dolores Huerta</b>
    </h3>
    <h5>Born:
      <span class="w3-opacity">April 10, 1930 - Her birthday has been designated as Dolores Huerta Day in the great state of California</span>
    </h5>
  </div>

  <div class="w3-container">
    <h3>Awards</h3>
    <p>The Ellis Island Medal of Freedom Award, Eleanor Roosevelt Award, Puffin/Nation Prize for Creative Citizenship, and she
      was inducted into the National Women’s Hall of Fame.</p>
    <div class="w3-row">
      <div class="w3-col m8 s12">
        <p>
          <button class="w3-button w3-padding-large w3-white w3-border">
            <a href="../Huerta/huerta.html">
              <b>READ MORE »</b>
            </a>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
<br> -->

  <div id="foot-cont">
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
     <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
     <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
      <p>Written, Coded, and Designed by Danyale C.Walker
      </p>
      <button onclick="topFunction()" id="footer" title="Go to top">Top</button>
    </footer>
  </div>

</body>
</html>
