body {
  padding: 17px;
  font-family: "Raleway", sans-serif
}

.button {
  padding-left: 15px;
}

#home {
  color: white;
}

#name {
    padding-top: 15%;
    text-align: center;
}

#quote {
    text-align: center;
    color: rgb(0, 77, 0);
}

#image-cit {
    text-decoration: none;
    color: black;
    font-size: 11px;
    text-align: center;
}

.btn {
  background-color: rgb(0, 77, 0);
}

a {
  color: rgb(0, 51, 0);
}

.btn-toolbar {
  text-align: center;
  color: rgb(0, 51, 0);
}

footer {
  padding-top: 50px;
  padding-left: 15px;
}

#footer {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: rgb(0, 51, 0);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#footer:hover {
  background-color: rgb(0, 77, 0);
  /* Add a dark-grey background on hover */
}
