/* Headers:
font-family: 'Playfair Display',
serif;
font-family: 'News Cycle',
sans-serif;
font-family: 'Rubik',
sans-serif; */

/* Body:
font-family: 'Lato',
sans-serif;
font-family: 'Merriweather',
serif;
font-family: 'Merriweather Sans',
sans-serif;
font-family: 'Source Sans Pro',
sans-serif;
font-family: 'Libre Baskerville',
serif; */

/* Multipurpose:
font-family: 'Roboto',
sans-serif;
font-family: 'Titillium Web',
sans-serif;
font-family: 'Libre Franklin',
sans-serif;
font-family: 'Work Sans',
sans-serif; */

 body {
     padding: 17px;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5 {
     font-family: "Raleway", sans-serif
 }

 a {
     text-decoration: none;
 }

 .button {
     padding-left: 15px;
 }

 .btn {
     background-color: rgb(0, 77, 0);
 }

  #home {
      color: white;
  }

 .desc {
     font-size: 18px;
     text-align: center;
 }

 #name {
     text-align: center;
     font-family: 'Source Sans Pro',
     sans-serif;
     font-size: 60px;
 }

 #quote {
   text-align: center;
   font-family: 'Source Sans Pro',
   sans-serif;
   color: rgb(0, 51, 0);
 }

 p {
     font-size: 18px;
 }

 h3,
 h4,
 p {
     font-family: 'Playfair Display', serif;
 }

 a {
     color: rgb(0, 51, 0);
 }

 .col-sm-8 {
     top: 175px;
 }

 footer {
     padding-top: 50px;
 }

 .btn-toolbar {
     text-align: center;
 }

 #foot-cont {
     padding: 15px;
 }

#footer {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(0, 51, 0);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#footer:hover {
    background-color: #1aff9c;
    /* Add a dark-grey background on hover */
}
